CHAIN_ENV=testnet
FAUCET_ADDRESS=https://testnet-faucet.onflow.org/fund-account

ADMIN_ADDRESS=""
FLOW_PRIVATE_KEY=""

ACCESS_API=https://access-testnet.onflow.org
WALLET_DISCOVERY=https://fcl-discovery.onflow.org/testnet/authn
