CHAIN_ENV=testnet
NODE_ENV=production

ADMIN_ADDRESS=""
FLOW_PRIVATE_KEY=""

NUXT_PUBLIC_NETWORK=testnet
NUXT_PUBLIC_ACCESS_API=https://access-testnet.onflow.org
NUXT_PUBLIC_WALLET_DISCOVERY=https://fcl-discovery.onflow.org/testnet/authn
NUXT_PUBLIC_HOST_URL=https://tesenet.floid.pro
